<app-navbar *ngIf="!isAdminRoute"></app-navbar>

<main [style.padding-top]="isAdminRoute ? '0' : '80px'" style="min-height: 80vh;">
    <router-outlet></router-outlet>
</main>

<app-footer *ngIf="!isAdminRoute"></app-footer>

<!-- 🌸 Sistema de Notificaciones Global -->
<app-notification></app-notification>

<!-- 🤖 Bot de Asistencia (Dialogflow CX) -->
<div *ngIf="!isAdminRoute">
  <df-messenger
    location="us-central1"
    project-id="global-yofi-chatbot"
    agent-id="31bb4b5b-d7f9-465f-a80b-228565e15d26"
    language-code="es"
    max-query-length="-1">
    <df-messenger-chat-bubble
      chat-title="GlobalYofiBot">
    </df-messenger-chat-bubble>
  </df-messenger>
</div>